<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="conainer">
    <img src="" alt="">
    <div class="user_container">
      <h1></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptates vitae similique modi nisi, commodi perferendis, id assumenda dolorem eaque tenetur suscipit! Tempora voluptatum vel sapiente eligendi qui, ipsum incidunt ex earum, debitis sed, harum esse! Officiis similique amet rerum! Molestiae quibusdam, perspiciatis dolore, aliquid minus dolores atque quia repudiandae nobis praesentium eum eius, earum necessitatibus voluptas doloremque iste ipsam dolorem dicta natus culpa. Iste sint quae non debitis ex?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda labore itaque, numquam ipsum dolorum, vero aperiam voluptas, architecto iure obcaecati dignissimos temporibus necessitatibus laborum consequatur provident perspiciatis autem iste! Aut!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum in cumque officiis dicta similique vitae!</p>
    </div>
  </div>

  <div class="bio_container">
    <h1 class="bio">Bio</h1>
    <p class="bio_details"></p>
  </div>

  <div class="posts_container">
    <h1></h1>
    <p></p>
    <div>
      <p>Comments: </p>
      <p>Likes: </p>
    </div>
  </div>

  <button>Show all Posts</button>

  <div class="comments">
    <h1>Comments for this POST</h1>

    <p>Username:- Comment</p>
  </div>
</body>
</html>
