<%= render "partials/user", user: @user %>
<% @posts.each do |post| %>
<%= link_to(user_post_path(@user, post)) do %>
    <%= render partial: 'partials/post', locals: {post: post} %>
        <%= render partial: 'partials/comment', locals: {post: post} %>
    <% end %>
<% end  %>
<a class="btn btn-info" >Pagination</a>
